<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worker.mapper.RuoyiWorkerMapper">
    
    <resultMap type="RuoyiWorker" id="RuoyiWorkerResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="phone"    column="phone"    />
        <result property="addressNow"    column="address_now"    />
        <result property="addressReg"    column="address_reg"    />
        <result property="polStatus"    column="pol_status"    />
        <result property="crewId"    column="crew_id"    />
        <result property="projectNow"    column="project_now"    />
        <result property="authentication"    column="authentication"    />
        <result property="idNumber"    column="id_number"    />
    </resultMap>


    <sql id="selectRuoyiWorkerVo">
        select id, name, sex, age,pol_status,crew_id, project_now, authentication from tb_ruoyi_worker
    </sql>

    <sql id="selectDetails">
        select id,name,sex,age,phone,address_now,address_reg,pol_status,crew_id,project_now,authentication,id_number from tb_ruoyi_worker
    </sql>

    <select id="selectRuoyiWorkerList" parameterType="RuoyiWorker" resultMap="RuoyiWorkerResult">
        <include refid="selectRuoyiWorkerVo"/>
        <where>
            <if test="id != null ">id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="authentication != null "> and authentication = #{authentication}</if>
        </where>
    </select>

    <select id="selectRuoyiWorkerListDetails" parameterType="RuoyiWorker" resultMap="RuoyiWorkerResult">
        <include refid="selectDetails"/>
        <where>
            <if test="id != null ">id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="authentication != null "> and authentication = #{authentication}</if>
            <if test="crew_id != null "> and crew_id = #{crewId}</if>
        </where>
    </select>
    
    <select id="selectRuoyiWorkerById" parameterType="Long" resultMap="RuoyiWorkerResult">
        <include refid="selectDetails"/>
        where id = #{id}
    </select>
        
    <insert id="insertRuoyiWorker" parameterType="RuoyiWorker">
        insert into tb_ruoyi_worker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="phone != null">phone,</if>
            <if test="addressNow != null">address_now,</if>
            <if test="polStatus != null">pol_status,</if>
            <if test="crewId != null">crew_id,</if>
            <if test="projectNow != null">project_now,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="authentication != null">authentication,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="phone != null">#{phone},</if>
            <if test="addressNow != null">#{addressNow},</if>
            <if test="polStatus != null">#{polStatus},</if>
            <if test="crewId != null">#{crewId},</if>
            <if test="projectNow != null">#{projectNow},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="authentication != null">#{authentication},</if>
         </trim>
    </insert>

    <update id="updateRuoyiWorker" parameterType="RuoyiWorker">
        update tb_ruoyi_worker
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="addressNow != null">address_now = #{addressNow},</if>
            <if test="addressReg != null">address_reg = #{addressReg},</if>
            <if test="polStatus != null">pol_status = #{polStatus},</if>
            <if test="crewId != null">crew_id = #{crewId},</if>
            <if test="projectNow != null">project_now = #{projectNow},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="authentication != null">authentication = #{authentication},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRuoyiWorkerById" parameterType="Long">
        delete from tb_ruoyi_worker where id = #{id}
    </delete>

    <delete id="deleteRuoyiWorkerByIds" parameterType="String">
        delete from tb_ruoyi_worker where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>