<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.satisfaction.mapper.SurveyMapper">
    
    <resultMap type="Survey" id="SurveyResult">
        <result property="surveyId"    column="survey_id"    />
        <result property="surveyScope"    column="survey_scope"    />
        <result property="surveyObject"    column="survey_object"    />
        <result property="surveyBy"    column="survey_by"    />
        <result property="surveyResult"    column="survey_result"    />
        <result property="surveyTime"    column="survey_time"    />
    </resultMap>

    <sql id="selectSurveyVo">
        select survey_id, survey_scope, survey_object, survey_by, survey_result, survey_time from tb_survey
    </sql>

    <select id="selectSurveyList" parameterType="Survey" resultMap="SurveyResult">
        <include refid="selectSurveyVo"/>
        <where>  
            <if test="surveyScope != null  and surveyScope != ''"> and survey_scope = #{surveyScope}</if>
            <if test="surveyResult != null  and surveyResult != ''"> and survey_result = #{surveyResult}</if>
        </where>
    </select>
    
    <select id="selectSurveyBySurveyId" parameterType="Long" resultMap="SurveyResult">
        <include refid="selectSurveyVo"/>
        where survey_id = #{surveyId}
    </select>
        
    <insert id="insertSurvey" parameterType="Survey" useGeneratedKeys="true" keyProperty="surveyId">
        insert into tb_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyScope != null and surveyScope != ''">survey_scope,</if>
            <if test="surveyObject != null and surveyObject != ''">survey_object,</if>
            <if test="surveyBy != null and surveyBy != ''">survey_by,</if>
            <if test="surveyResult != null and surveyResult != ''">survey_result,</if>
            <if test="surveyTime != null">survey_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyScope != null and surveyScope != ''">#{surveyScope},</if>
            <if test="surveyObject != null and surveyObject != ''">#{surveyObject},</if>
            <if test="surveyBy != null and surveyBy != ''">#{surveyBy},</if>
            <if test="surveyResult != null and surveyResult != ''">#{surveyResult},</if>
            <if test="surveyTime != null">#{surveyTime},</if>
         </trim>
    </insert>

    <update id="updateSurvey" parameterType="Survey">
        update tb_survey
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyScope != null and surveyScope != ''">survey_scope = #{surveyScope},</if>
            <if test="surveyObject != null and surveyObject != ''">survey_object = #{surveyObject},</if>
            <if test="surveyBy != null and surveyBy != ''">survey_by = #{surveyBy},</if>
            <if test="surveyResult != null and surveyResult != ''">survey_result = #{surveyResult},</if>
            <if test="surveyTime != null">survey_time = #{surveyTime},</if>
        </trim>
        where survey_id = #{surveyId}
    </update>

    <delete id="deleteSurveyBySurveyId" parameterType="Long">
        delete from tb_survey where survey_id = #{surveyId}
    </delete>

    <delete id="deleteSurveyBySurveyIds" parameterType="String">
        delete from tb_survey where survey_id in 
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </delete>
</mapper>